.loading-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Faz o modal semi-transparente */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  text-align: center;
  width: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  img{
    width: 200px;
  }
}
  mat-progress-bar {
    width: 100%;
    height: 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .message-received{
    margin-top: 10px;
    margin-bottom: 10px;
  }
.btn-close{
  background-color: #2b2a2a !important;
  color: #fff !important;
}
.btn-close:hover{
  background-color: #1d1c1c !important;
}
.div-btn-modal{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
