<app-nav-bar>
  <div class="containner-app">

    <div class="banner-invest"></div>
    <div class="d-flex">
      <div class="div-invest-01">
          <h1>A Maxicred tem investimentos para todas as pessoas</h1>
      </div>
      <div class="div-invest-02">
       <div class="bloco">
        <h1 >Para quem está começando e quer aprender a investir</h1>
        <a href="" style="display: flex; align-items: center;">
          <span>Saiba mais</span>
          <mat-icon style="margin-left: 5px;">chevron_right</mat-icon>
        </a>
       </div>
       <div class="bloco bloco-2">
        <h1 >Para quem já é mais experiente e quer ir além nos investimentos</h1>
        <a href="" style="display: flex; align-items: center;">
          <span>Saiba mais</span>
          <mat-icon style="margin-left: 5px;">chevron_right</mat-icon>
        </a>
       </div>
      </div>

    </div>
    <div class="separador"></div>



  </div>
  <app-footer></app-footer>
</app-nav-bar>
