<div class="loading-modal">
  <div class="modal-content">
    <img src="../../../../assets/img/dunamis_log01.png" alt="Logo" />
    <h1>Termos e Condições</h1>
    <p>Ao escolher usar uma moeda de câmbio,
      esteja ciente de que haverá alterações nos
      valores das parcelas, pois o valor dependerá da
      cotação da moeda no dia do vencimento.</p>

    <div class="d-flex">
      <input id="check" type="checkbox" (change)="onCloseModalCambio()">
      <label for="check">Concordo com os termos</label>
    </div>
  </div>
</div>


